html {
  height: 100%;
}

body {
  margin: 0;
}

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, rgba(250, 159, 85, 0.849) 50%, rgba(250, 122, 83, 0.829) 50%);
  bottom: 0;
  left: -50%;
  opacity: .5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

.content {
  background-color: rgba(255, 255, 255, .8);
  border-radius: .25em;
  box-shadow: 0 0 .25em rgba(0, 0, 0, .25);
  box-sizing: border-box;
  left: 50%;
  padding: 10vmin;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-family: monospace;
}

@keyframes slide {
  0% {
      transform: translateX(-25%);
  }
  100% {
      transform: translateX(25%);
  }
}

.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.grid {
  max-height: 400px;
  display:flex;
  overflow-y: auto;
  overflow-x: auto;
  padding-right: 20px; /* add some padding to create space between scrollbar and items */
}

.grid::-webkit-scrollbar {
  width: 8px; /* increase the width of the scrollbar */
}

.grid::-webkit-scrollbar-thumb {
  background-color: #ccc; /* set the background color of the scrollbar thumb */
  border-radius: 8px; /* add some border-radius to create a rounded thumb */
}

.grid::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* set the background color of the scrollbar track */
  border-radius: 8px; /* add some border-radius to create a rounded track */
}

.grid-item {
 min-width: 250px;
 height: 400px;
 line-height: 400px;
 margin-right: 10px;
 margin-bottom: 10px;
}

.grid-item:last-child {
  margin-right: 0;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}